(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Adotaccent,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotaccent,
Ddotbelow,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
Hdotaccent,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
Macute,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ngrave,
Ntilde,
O,
Oacute,
Ocaron,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Pacute,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucaron,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
adotaccent,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotaccent,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
hdotaccent,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
macute,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ngrave,
ntilde,
o,
oacute,
ocaron,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
pacute,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucaron,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
f_f,
f_f_i,
f_f_l,
fi,
fl,
ordfeminine,
ordmasculine,
Omega,
mu,
pi,
"aCandra-deva",
"a-deva",
"aShort-deva",
"aa-deva",
"i-deva",
"ii-deva",
"u-deva",
"uu-deva",
"rVocalic-deva",
"rrVocalic-deva",
"lVocalic-deva",
"llVocalic-deva",
"eCandra-deva",
"eShort-deva",
"e-deva",
"ai-deva",
"oCandra-deva",
"o-deva",
"oShort-deva",
"au-deva",
"oe-deva",
"ooe-deva",
"ue-deva",
"uue-deva",
"aaMatra-deva",
"iMatra-deva",
"iMatra_anusvara-deva",
"iMatra_reph-deva",
"iMatra_reph_anusvara-deva",
"iiMatra-deva",
"iiMatra_anusvara-deva",
"iiMatra_reph-deva",
"iiMatra_reph_anusvara-deva",
"oCandraMatra-deva",
"oShortMatra-deva",
"oMatra-deva",
"oMatra_anusvara-deva",
"oMatra_reph-deva",
"oMatra_reph_anusvara-deva",
"auMatra-deva",
"auMatra_anusvara-deva",
"auMatra_reph-deva",
"auMatra_reph_anusvara-deva",
uni093B,
"iMatra-deva.0",
"iMatra_anusvara-deva.0",
"iMatra_reph-deva.0",
"iMatra_reph_anusvara-deva.0",
"iiMatra_anusvara-deva.02",
"iiMatra_reph-deva.02",
"iiMatra_reph_anusvara-deva.02",
"iMatra_anusvara-deva.05",
"iMatra_reph-deva.05",
"iMatra_reph_anusvara-deva.05",
"iMatra_anusvara-deva.10",
"iMatra_reph-deva.10",
"iMatra_reph_anusvara-deva.10",
"iMatra-deva.05",
"iMatra-deva.10",
"iiMatra-deva.02",
"ka-deva",
"k-deva",
"kha-deva",
"kh-deva",
"ga-deva",
"g-deva",
"gha-deva",
"gh-deva",
"nga-deva",
"ng-deva",
"ca-deva",
"c-deva",
"cha-deva",
"ch-deva",
"ja-deva",
"j-deva",
"jha-deva",
"jh-deva",
"nya-deva",
"ny-deva",
"tta-deva",
"tt-deva",
"ttha-deva",
"tth-deva",
"dda-deva",
"dd-deva",
"ddha-deva",
"ddh-deva",
"nna-deva",
"nn-deva",
"ta-deva",
"t-deva",
"tha-deva",
"th-deva",
"da-deva",
"d-deva",
"dha-deva",
"dh-deva",
"na-deva",
"n-deva",
"nnna-deva",
"nnn-deva",
"pa-deva",
"p-deva",
"pha-deva",
"ph-deva",
"ba-deva",
"b-deva",
"bha-deva",
"bh-deva",
"ma-deva",
"m-deva",
"ya-deva",
"y-deva",
"ra-deva",
"rra-deva",
"rr-deva",
"la-deva",
"l-deva",
"lla-deva",
"ll-deva",
"llla-deva",
"lll-deva",
"va-deva",
"v-deva",
"sha-deva",
"sh-deva",
"ssa-deva",
"ss-deva",
"sa-deva",
"s-deva",
"ha-deva",
"h-deva",
"qa-deva",
"q-deva",
"khha-deva",
"khh-deva",
"ghha-deva",
"ghh-deva",
"za-deva",
"z-deva",
"dddha-deva",
"rha-deva",
"fa-deva",
"f-deva",
"yya-deva",
"zha-deva",
"jjya-deva",
"gga-deva",
"jja-deva",
"ddda-deva",
"bba-deva",
"la-deva.loclMAR",
"l-deva.loclMAR",
"sha-deva.loclMAR",
"sh-deva.loclMAR",
"jha-deva.loclNEP",
"jh-deva.loclNEP",
"zha-deva.loclNEP",
"na-deva.post",
"ya-deva.post",
"ra-deva.post",
"va-deva.post",
"ra_uMatra-deva",
"ra_uuMatra-deva",
"ha_uMatra-deva",
"ha_uuMatra-deva",
"ha_rVocalicMatra-deva",
"k_ka-deva",
"k_ta-deva",
"k_ra-deva",
"k_la-deva",
"k_va-deva",
"k_ssa-deva",
"k_ss-deva",
"k_ss_ra-deva",
"k_r-deva",
"kh_ra-deva",
"kh_r-deva",
"g_na-deva",
"g_ra-deva",
"g_r-deva",
"gh_ra-deva",
"gh_r-deva",
"ng_ka-deva",
"ng_k-deva",
"ng_k_ssa-deva",
"ng_kha-deva",
"ng_ga-deva",
"ng_gha-deva",
"ng_ma-deva",
"ng_ra-deva",
"c_ca-deva",
"c_ra-deva",
"ch_ra-deva",
"ch_va-deva",
"j_ja-deva",
"j_j-deva",
"j_nya-deva",
"ja_halant_nya_halant-deva",
"j_ny-deva",
"j_ny_ra-deva",
"j_ra-deva",
"jh_ra-deva",
"ny_ca-deva",
"ny_ja-deva",
"ny_ra-deva",
"tt_tta-deva",
"tt_ttha-deva",
"tt_ya-deva",
"tt_ra-deva",
"tt_va-deva",
"tth_ttha-deva",
"tth_ya-deva",
"tth_ra-deva",
"tth_r-deva",
"dd_dda-deva",
"dd_ddha-deva",
"dd_ya-deva",
"dd_ra-deva",
"dd_r-deva",
"ddh_ddha-deva",
"ddh_ya-deva",
"ddh_ra-deva",
"ddh_r-deva",
"nn_ra-deva",
"t_ta-deva",
"t_t-deva",
"t_ya-deva",
"t_ra-deva",
"t_r-deva",
"th_ra-deva",
"d_ga-deva",
"d_gha-deva",
"d_da-deva",
"d_dh_ra-deva",
"d_dh_r_ya-deva",
"d_na-deva",
"d_ba-deva",
"d_bha-deva",
"d_ma-deva",
"d_ya-deva",
"d_ra-deva",
"d_va-deva",
"d_rVocalicMatra-deva",
"dh_ra-deva",
"n_na-deva",
"n_ra-deva",
"p_ta-deva",
"p_ra-deva",
"p_la-deva",
"p_r-deva",
"ph_ra-deva",
"ph_la-deva",
"b_ra-deva",
"bh_ra-deva",
"m_ra-deva",
"y_ra-deva",
"l_ra-deva",
"l_la-deva",
"ll_ra-deva",
"v_ra-deva",
"sh_ca-deva",
"sh_na-deva",
"sh_ra-deva",
"sh_ra_rVocalicMatra-deva",
"sh_la-deva",
"sh_va-deva",
"sh_r-deva",
"ss_tta-deva",
"ss_tt_ra-deva",
"ss_ttha-deva",
"ss_tth_ra-deva",
"ss_ra-deva",
"s_t_ra-deva",
"s_ra-deva",
"h_nna-deva",
"h_na-deva",
"h_ma-deva",
"h_ya-deva",
"h_ra-deva",
"h_la-deva",
"h_va-deva",
"f_ra-deva",
"j_nya-deva.akhn",
"k_ra-deva.loclNEP",
"zero-deva",
"one-deva",
"two-deva",
"three-deva",
"four-deva",
"five-deva",
"six-deva",
"seven-deva",
"eight-deva",
"nine-deva",
"five-deva.loclNEP",
"eight-deva.loclNEP",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthnonjoiner,
zerowidthjoiner,
CR,
DEL,
NULL,
.notdef,
space.copy_one,
"highspacingdot-deva",
"glottalstop-deva",
"danda-deva",
"dbldanda-deva",
"abbreviation-deva",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
"avagraha-deva",
"om-deva",
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
rupeeIndian,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
dottedCircle,
lozenge,
"uMatra-deva",
"uuMatra-deva",
"rVocalicMatra-deva",
"rrVocalicMatra-deva",
"lVocalicMatra-deva",
"llVocalicMatra-deva",
"eCandraMatra-deva",
"candraBindu-deva",
"eShortMatra-deva",
"eMatra-deva",
"eMatra_anusvara-deva",
"eMatra_reph-deva",
"eMatra_reph_anusvara-deva",
"aiMatra-deva",
"aiMatra_anusvara-deva",
"aiMatra_reph-deva",
"aiMatra_reph_anusvara-deva",
"anusvara-deva",
"halant-deva",
"nukta-deva",
"reph-deva",
"reph_anusvara-deva",
"rakar-deva",
"rakar_uMatra-deva",
"rakar_uuMatra-deva",
uni093A,
uni0956,
uni0957,
"udatta-deva",
"anudatta-deva",
"grave-deva",
"acute-deva",
"uMatra-deva.alt",
"uuMatra-deva.alt",
"reph-deva.loclMAR",
"visarga-deva",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaabovecomb,
dotbelowcomb,
commaaccent,
cedillacomb,
ogonekcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
ogonekcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
caron.alt,
dieresis.cap,
dotaccent.cap,
grave.cap,
acute.cap,
circumflex.cap,
caron.cap,
breve.cap,
ring.cap,
tilde.cap,
ogonek.cap,
DC1,
DC2,
DC3,
DC4,
DLE,
HT,
LF,
RS,
US
)