{
displayStrings = (
"नOHno",
"ĂĂĂĂĂĂĀĀĀĀĀĀĆĆĆĆĆĆČČČČČČĎĎĎĎĎĎĚĚĚĚĚĚĖĖĖĖĖĖĒĒĒĒĒĒĞĞĞĞĞĞİİİİİİĪĪĪĪĪĪĮĮĮĮĮĮĹĹĹĹĹĹĽĽĽĽĽĽŃŃŃŃŃŃŇŇŇŇŇŇÑÑÑÑÑÑÖÖÖÖÖÖÒÒÒÒÒÒŐŐŐŐŐŐŌŌŌŌŌŌÕÕÕÕÕÕŔŔŔŔŔŔŘŘŘŘŘŘŚŚŚŚŚŚŠŠŠŠŠŠŞŞŞŞŞŞŤŤŤŤŤŤÚÚÚÚÚÚÜÜÜÜÜÜÙÙÙÙÙÙŰŰŰŰŰŰŪŪŪŪŪŪŲŲŲŲŲŲŮŮŮŮŮŮÝÝÝÝÝÝŸŸŸŸŸŸŹŹŹŹŹŹŽŽŽŽŽŽŻŻŻŻŻŻááááááăăăăăăââââââääääääààààààāāāāāāååååååããããããććććććččččččççççççééééééěěěěěěêêêêêêëëëëëëėėėėėėèèèèèèēēēēēēğğğğğğííííííïïïïïïīīīīīīĩĩĩĩĩĩĺĺĺĺĺĺľľľľľľňňňňňňññññññóóóóóóôôôôôôööööööòòòòòòőőőőőőōōōōōōõõõõõõŕŕŕŕŕŕřřřřřřşşşşşşťťťťťťüüüüüüűűűűűűūūūūūūųųųųųųůůůůůůýýýýýýÿÿÿÿÿÿźźźźźźžžžžžžżżżżżż",
"¨",
"/dieresis.cap",
W,
w,
"̈",
Y,
"/acutecomb.case Ý",
"/gravecomb.case Ỳ",
Z,
c,
e,
"ȷ",
"HĦ",
"ẞS",
"́/jacute",
"ŢŢ",
"̋Ő",
"̀à",
l,
"̃õ",
z,
"झ",
"ऄ",
"ब",
"/k_ta-deva",
"ी",
"/g_ra-deva",
"/g_r-deva",
"/j_ny_ra-deva",
"/jh_ra-deva",
"/c_ra-deva",
"/ny_ra-deva",
"/dd_ya-deva",
"/nn_ra-deva",
"/t_ta-deva",
"/d_dh_ra-deva",
"/d_na-deva",
"/p_ta-deva",
"/b_ra-deva",
"/sh_ca-deva",
"/sh_na-deva",
"/ss_ra-deva",
"/f_f",
"/.notdef",
"/periodcentered.loclCAT",
"/periodcentered.loclCAT.case",
"◌",
"ल/l_la-deva",
u,
"/va-deva.post",
"ऩ"
);
}
