{
displayStrings = (
"नOHno",
"ĂĂĂĂĂĂĀĀĀĀĀĀĆĆĆĆĆĆČČČČČČĎĎĎĎĎĎĚĚĚĚĚĚĖĖĖĖĖĖĒĒĒĒĒĒĞĞĞĞĞĞİİİİİİĪĪĪĪĪĪĮĮĮĮĮĮĹĹĹĹĹĹĽĽĽĽĽĽŃŃŃŃŃŃŇŇŇŇŇŇÑÑÑÑÑÑÖÖÖÖÖÖÒÒÒÒÒÒŐŐŐŐŐŐŌŌŌŌŌŌÕÕÕÕÕÕŔŔŔŔŔŔŘŘŘŘŘŘŚŚŚŚŚŚŠŠŠŠŠŠŞŞŞŞŞŞŤŤŤŤŤŤÚÚÚÚÚÚÜÜÜÜÜÜÙÙÙÙÙÙŰŰŰŰŰŰŪŪŪŪŪŪŲŲŲŲŲŲŮŮŮŮŮŮÝÝÝÝÝÝŸŸŸŸŸŸŹŹŹŹŹŹŽŽŽŽŽŽŻŻŻŻŻŻááááááăăăăăăââââââääääääààààààāāāāāāååååååããããããććććććččččččççççççééééééěěěěěěêêêêêêëëëëëëėėėėėėèèèèèèēēēēēēğğğğğğííííííïïïïïïīīīīīīĩĩĩĩĩĩĺĺĺĺĺĺľľľľľľňňňňňňññññññóóóóóóôôôôôôööööööòòòòòòőőőőőőōōōōōōõõõõõõŕŕŕŕŕŕřřřřřřşşşşşşťťťťťťüüüüüüűűűűűűūūūūūūųųųųųųůůůůůůýýýýýýÿÿÿÿÿÿźźźźźźžžžžžžżżżżżż",
"¨",
"/dieresis.cap",
W,
w,
"̈",
Y,
"/acutecomb.case Ý",
"/gravecomb.case Ỳ",
Z,
c,
e,
"ȷ",
"HĦ",
"ẞS",
"́/jacute",
"ŢŢ",
"̋Ő",
"̀à",
l,
"̃õ",
z
);
}
